output.txt
/extracted_images
state.pdf
/venv
output.json
.env
/__pycache__
/static
*json
/Alerts/__pycache__
/Analytics/__pycache__
/Categorize/__pycache__
/Goal/__pycache__
/pdftojson/__pycache__
/User/__pycache__
/database/__pycache__
